<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.FileUploadMapper">
		
	<!-- 파일 DB 저장 -->
	 <insert id="attach" parameterType="com.stock.domain.NoticesFileUploadVo">
	 	<selectKey order="BEFORE" resultType="int" keyProperty="fileBno">
	 	SELECT SEQ_FILE.NEXTVAL FROM DUAL
	 	</selectKey>
		INSERT INTO NOTICESFILE (FILE_BNO, FILE_ORIGINAL_NM, FILE_UUID_NM, FILE_PATH, FILE_SIZE, FILE_KIND)
		VALUES(#{fileBno}, #{fileOriginalNm}, #{fileUuidNm}, #{filePath}, #{fileSize}, #{fileKind})
		
	------파일 DB저장	
	</insert>
	
	<!-- 파일 FK 업데이트 -->
	<update id="fileBnoUpdate" parameterType="int">
	UPDATE NOTICESFILE SET 
	FILE_NOTICES_BNO = #{bno} WHERE FILE_BNO = #{fileBno}
	
	------파일 FK업데이트	
	</update>

	<delete id="removeFile" parameterType="int">
	DELETE FROM NOTICESFILE WHERE FILE_BNO = #{bno}
	
	------파일 업로드 삭제
	</delete>
	
	<!-- db컬럼명과 dto가 달라, setter가 안먹힘. 대안방안코드 -->
	<resultMap type="com.stock.domain.NoticesFileUploadVo" id="fileVo">
		<result column="file_bno" property="fileBno"/>
		<result column="file_notices_bno" property="fileNoticesBno"/>
		<result column="file_original_nm" property="fileOriginalNm"/>		
		<result column="file_UUID_nm" property="fileUuidNm"/>
		<result column="file_Path" property="filePath"/>
		<result column="file_upload_reg" property="fileUploadReg"/>
		<result column="file_change_reg" property="fileChangeReg"/>
		<result column="file_size" property="fileSize"/>
		<result column="file_kind" property="fileKind"/>		
	</resultMap>

	<select id="fileListGet" parameterType="int" resultMap="fileVo">
		SELECT * FROM NOTICESFILE WHERE FILE_NOTICES_BNO = #{bno}

	-----파일 가져오기
	</select> 

	<select id="nullFile" resultMap="fileVo">
	SELECT * FROM NOTICESFILE WHERE FILE_NOTICES_BNO IS NULL
	</select>

</mapper>